body {
  margin: 0;
  padding: 0;
  color: #2d2d2d;
  background: whitesmoke;
}

h1 {
  color:rgb(29, 29, 29);
}

.point:hover {
  cursor: pointer;
}

.statusBlock {
  color: #fff;
  border-radius: 15px;
  height: 20px;
  padding: 1px 5px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.notstarted {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.inprogress {
  background-color: #dcaa14;
  border: 1px solid #ffc107;
}

.completed {
  background-color: #28a745;
  border: 1px solid #28a745;
}

/*Datepicker overwrite*/
.react-datepicker-wrapper, .react-datepicker__input-container { display: block !important; } .react-datepicker-wrapper .react-datepicker__input-container input { width: 100% }

/*Small devices */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* (Larger, Pixel 2 XL) x-Small Devices Landscape*/
@media(max-width: 823px) and (max-height: 411px) {
}
/* x-Small Devices Landscape (640px wide 360px high and below) */
@media(max-width: 736px) and (max-height: 414px) {
}
/* iPhone 5 Landscape (x-small) */
@media(max-width: 568px) and (max-height: 320px) {
}