body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #2d2d2d;
}

/*Small devices */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* (Larger, Pixel 2 XL) x-Small Devices Landscape*/
@media(max-width: 823px) and (max-height: 411px) {
}
/* x-Small Devices Landscape (640px wide 360px high and below) */
@media(max-width: 736px) and (max-height: 414px) {
}
/* iPhone 5 Landscape (x-small) */
@media(max-width: 568px) and (max-height: 320px) {
}