.goalOps {
  display:flex;
  justify-content: space-evenly;
}

.goal-container:hover {
  background: #f3f3f3;
  cursor:pointer;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .goalOps {
    display:flex;
    justify-content: flex-end;
  }
  .goalOps button {
    margin-left:5px;
  }
}